<div class = "jumbotron text-center">
	<div class = "container">
		<h1>Check & Shop</h1>
		<p>Now buy wisely ...</p>
		<a (click)="login()"><img src= "assets/img/google.png"></a>
	</div>
</div>
<div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/img/groceries.png" target="_blank">
          <img src="assets/img/groceries.png" alt="Lights" style="width:100%">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/img/groceries1.png" target="_blank">
          <img src="assets/img/groceries1.png" alt="Nature" style="width:100%">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/img/groceries2.png" target="_blank">
          <img src="assets/img/groceries2.png" alt="Fjords" style="width:100%">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="assets/img/groceries3.png" target="_blank">
          <img src="assets/img/groceries3.png" alt="Fjords" style="width:100%">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>