<div>
	<a [routerLink]= "['/groceries']">Go Back</a>
	<br>
	<h2>Your Cart</h2> 
	<table align  = "center" class = "table table-stripped">
	<tr>
	<th>Grocery</th>
	<th>Company</th>
	<th>Brand</th>
	<th>Price</th>
	<th>Quantity</th>
	<th></th>
	</tr>
	<tr *ngFor ="let cart of carts">
	<td *ngIf = "(email == cart.user)">{{cart.grocery}}</td>
	<td *ngIf = "(email == cart.user)">{{cart.company}}</td>
	<td *ngIf = "(email == cart.user)">{{cart.brand}}</td>	
	<td *ngIf = "(email == cart.user)">{{cart.price}}</td>
	<td *ngIf = "(email == cart.user)">{{cart.quantity}}</td>
	<td *ngIf = "(email == cart.user)"><a (click)="onDelete(cart.$key)" class="btn btn-default"><span class="glyphicon glyphicon-remove"> Remove</span></a></td>
	<td *ngIf = "(email == cart.user)"> {{totalBill(cart.quantity,cart.price)}}</td>
	</tr>
	</table>
	<h2>Total : Rs {{sum}}</h2>
</div>
