<ul class = "list-group" *ngFor ="let e of emails">
	
	<div class = "col-sm-7" *ngIf="(e.email == email)">
		{{shows()}}
		<table>
		<tr>
		 <th><input type = "text" [(ngModel)] = "text" align = "center" id = "search" placeholder = "TYPE TO SEARCH"></th>
		 <th><a [routerLink]="['/add-grocery/'+e.company]">Add Grocery</a></th>
		 </tr>
		 </table>
		<table align = "center" class = "table table-stripped">
		<tr>
		<th>Grocery</th>
		<th>Brand</th>
		<th>Price</th>
		<th></th>
		</tr>
		
		<tr *ngFor ="let grocery of groceries  | FilterPipe : text">
		<td *ngIf="(e.company == grocery.company)">{{grocery.grocery}}</td>
		<td *ngIf="(e.company == grocery.company)">{{grocery.brand}}</td>
		<td *ngIf="(e.company == grocery.company)">{{grocery.price}}</td>
		<td *ngIf="(e.company == grocery.company)"><a [routerLink]= "['/update-grocery/'+grocery.$key+'/'+grocery.price]">Update <br></a></td>
		
		</tr>
		</table>
			<h2 class = "page-header">Reviews </h2>
			<ul class = "list-group" *ngFor ="let review of reviews">
				<li *ngIf="(e.company == review.company)" class= " list-group-item">  {{review.user}}|Grocery : {{review.grocery}} | Review :   {{review.review}}  </li>
				
				<!-- <a class="btn btn-default" [routerLink]= "['/update-grocery/'+grocery.$key]">Update</a> -->		 
			</ul>
</div>
		
	
</ul> 	
		<div class = "col-sm-3"></div>
			
		<div class = "col-sm-7" align = "center" *ngIf="(show == 0)">
		
						<input type = "text" [(ngModel)] = "text" align = "center" id = "search" placeholder = "TYPE TO SEARCH">
						<table  align = "center"class = "table table-striped">
							<tr>
							<th> Groceries</th>
							</tr>
							<tr *ngFor ="let grocery of groceries  | unique | FilterPipe : text"><a [routerLink]= "['/grocery/'+grocery.grocery]">{{grocery.grocery}}</a></tr>
					</table>
			</div>
			
	
	
	
  