<!-- <div *ngFor ="let cart of carts">
<h2 *ngIf = "(email == cart.user)">{{emptyCartCheck()}}</h2>
</div> -->
<div>
	<a [routerLink]= "['/groceries']">Go Back</a>
	<br>
	<h2>Your Cart</h2>
	<!-- <div *ngIf = "(emptycart == 0)">
		<h2>Your cart is empty !</h2>
	</div> -->
	<div>
		<table class = "table table-striped">
		<tr>
		<th>Grocery</th>
		<th>Company</th>
		<th>Brand</th>
		<th>Price</th>
		<th>Quantity</th>
		<th></th>
		</tr>
		<tr *ngFor ="let cart of carts">
		<td *ngIf = "(email == cart.user)">{{cart.grocery}}</td>
		<td *ngIf = "(email == cart.user)">{{cart.company}}</td>
		<td *ngIf = "(email == cart.user)">{{cart.brand}}</td>	
		<td *ngIf = "(email == cart.user)">{{cart.price}}</td>
		<td *ngIf = "(email == cart.user)">{{cart.quantity}}</td>
		<td *ngIf = "(email == cart.user)"><a (click)="onDelete(cart.$key)" class="btn btn-default"><span class="glyphicon glyphicon-remove"> Remove</span></a></td>
		<td *ngIf = "(email == cart.user)"> {{totalBill(cart.quantity,cart.price)}}</td>
		</tr>
		</table> 
		<h2>Total : Rs {{sum}}</h2>
		<form class="col-sm-6">
			<label for="address">Address:</label>
			<textarea class="form-control" rows="4" cols="5" id="address"></textarea>
		</form>
		<br><a (click)="enableDelete()" class="btn btn-default">Place Order</a>
		
		<div *ngFor ="let cart of carts">
			<h1 *ngIf = "(email == cart.user)">{{deletea}}</h1>
		</div>
	</div>
</div>
